@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.register-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container .content{
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0,0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
}

.register-container .content section{
    width: 100%;
    max-width: 380px;
}

.register-container .content section h1{
    margin: 64px 0 32px;
   font-size: 32px;
}

.register-container .content section p{
    color: #737380;
    font-size: 18px;
    line-height: 32px;
}

.register-container .content form{
    width: 100%;
    max-width: 450px;
}

.register-container .content form input{
  margin-top: 8px;
}


.register-container .content form .input-group{
   display: flex;
  }

.register-container .content form .input-group input + input{
   margin-left: 8px;
   }

.modal-register{
    position: absolute;
    align-items: center;
    left: 34.51%;
    right: 35.49%;
    top: 35.89%;
    bottom: 32.22%;
    background: #e02041;
    /* SOMBRA */
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

}

.modal-register p{
    left: 20%;
    right: 20%;
    top: 55.89%;
    bottom: 36.33%;
    position: absolute;
    font-family: Roboto;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    margin-top: 50px;
}

.App {
    text-align: center;
  }

.modal-container{
    text-align: center;
}
  